@import "./general";

.home {
  @include grid(2);
  grid-auto-rows: 100vh;
  padding-left: 0;

  .left-home {
    @include flex(row);
    height: 100%;
    width: 100%;
    position: relative;

    .shape {
      clip-path: polygon(0 0, 25% 0, 78% 100%, 0% 100%);
      background-color: var(--color-secondary);
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: -1;
    }

    .img-container {
      @include flex(row);
      align-items: flex-end;
      background-color: var(--color-black);
      height: 90%;
      width: 80%;
      border-radius: 20px;

      img {
        height: 87%;
        max-width: 90%;
        object-fit: cover;
        transition: var(--transition);
        filter: grayscale(100%);

        &:hover {
          filter: grayscale(0);
        }
      }
    }

    footer {
      position: absolute;
      left: 10%;
      bottom: 5px;
    }
  }

  .right-home {
    @include flex(column);
    margin: auto 0;
    text-align: center;
    width: 100%;

    h1,
    h3 {
      text-align: center;
      width: 100%;
    }

    h1 {
      span {
        color: var(--color-secondary);
      }
    }

    h3 {
      margin: 40px 0;
    }
  }
}
